<p>
  <input *ngIf="auth.isAutenticated" type="button" value="add" (click)="add()">
  <input *ngIf="auth.isInRoles('Administradores')" type="button" value="edit" (click)="edit()">
  <input type="button" value="list" (click)="load()">
</p>

<form #miForm="ngForm">
  <div>
    <label for="id" class="form-label">código:</label>
    <input type="number" class="form-control" id="id" name="id" [(ngModel)]="elemento.id" #id="ngModel" required>
    <output class="error" [hidden]="!id.hasError('required') || miForm.pristine">Es obligatorio</output>
  </div>
  <div>
    <label for="nombre" class="form-label">nombre:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="elemento.nombre" #nombre="ngModel"
      required minlength="2" maxlength="10">
    <output class="error" [hidden]="!nombre.errors?.['required']">Es obligatorio</output>
    <output class="error" [hidden]="!nombre.hasError('minlength') && !nombre.hasError('maxlength')">El nombre debe tener
      entre 3 y 10 letras</output>
  </div>
  <div>
    <label for="apellidos" class="form-label">apellidos:</label>
    <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="elemento.apellidos"
      #apellidos="ngModel" minlength="2" maxlength="10" uppercase>
    <output class="error" [hidden]="!apellidos.hasError('minlength') ">Debe tener como mínimo
      {{apellidos.errors?.['minlength']?.requiredLength}} caracteres"</output>
    <output class="error" [hidden]="!apellidos.hasError('uppercase') ">Debe estar en mayúsculas</output>
    <output class="error" [hidden]="apellidos.valid">{{apellidos.errors | errormsg}}</output>
  </div>
  <div>
    <label for="correo" class="form-label">correo:</label>
    <input type="text" class="form-control" id="correo" name="correo" [(ngModel)]="elemento.correo" #correo="ngModel"
      maxlength="100" >
    <output class="error" [hidden]="correo.valid">{{correo.errors | errormsg}}</output>
  </div>
  <div>
    <label for="nif" class="form-label">nif:</label>
    <input type="text" class="form-control" id="nif" name="nif" [(ngModel)]="elemento.nif" #nif="ngModel"
      nif>
    <output class="error" [hidden]="nif.valid">{{nif.errors | errormsg:'Tiene que tener de 1 a 8 dígitos y una letra en mayúsculas'}}</output>

  </div>
  <div>
    <label for="edad" class="form-label">edad:</label>
    <input type="number" class="form-control" id="edad" name="edad" [(ngModel)]="elemento.edad" #edad="ngModel" min="16"
      max="67">
    <output class="error" [hidden]="edad.valid">{{edad.errors | errormsg}}</output>

  </div>
  <p>
    <input type="button" value="enviar" (click)="send()" [disabled]="miForm.invalid">
    <input type="button" value="volver" (click)="cancel()">
  </p>
  <app-form-buttons send-text="enviar" [send-disabled]="miForm.invalid" (send)="send()" [cancel-text]="'volver'" (cancel)="cancel()" />
</form>
{{listado | json}}
<ul>
  <li *ngFor="let item of listado">{{item.nombre}} {{item.apellidos}}</li>
</ul>
